<?php include_once Vback."/public/header.html";?>
    <section class="wrapper">
        <div class="table-agile-info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    网站地图
                </div>
                <div class="row w3-res-tb">

                    <div class="col-sm-5 m-b-xs">
                        <div class="input-group">
                            <a href="/sitemap.xml" target="_blank" class="btn btn-success">查看网站地图</a>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <div class="btn btn-success" id="updateSite">更新网站地图</div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>
<?php include_once Vback."/public/footer.html";?>
<script>
    var noning=true,onin=true;
    $('#updateSite').click(function () {
        if(onin){
            <?php include_once (FPATH."usemap.php");  ?>
            alert('更新成功');
           location.href="/back/sitemap";
        }
    })
</script>


