<?php include_once Vback."/public/header.html";?>
    <section class="wrapper">
        <div class="table-agile-info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    表
                </div>
                <div class="row w3-res-tb">
                    <div class="col-sm-4">
                        <div class="input-group">
                            <a href="/index.php?c=back&a=addtable" class="btn btn-success add">添加</a>
                            <a href="/index.php?c=back&a=web_table" class="btn btn-success">查看全部</a>
                            <a href="/index.php?c=back&a=web_table&status=3" class="btn btn-success">回收站</a>
                        </div>

                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" class="input-sm form-control search-txt" placeholder="用空格或者“、”隔开两个以上的关键字">
                            <span class="input-group-btn">
                    <button class="btn btn-sm btn-default search-txt" type="button">搜索</button>
          </span>
                        </div>
                    </div>
                </div>
                <p class="table-responsive">
                    <table class="table table-striped b-t b-light">
                        <thead>
                            <tr>
                            <th >
                                <label class="i-checks m-b-none">
                                    <input type="checkbox" id="check_all"><i></i>  id
                                </label>
                            </th>
                            <th>名称</th>
                            <th>表名</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php
                        foreach($arr as $val){
                        switch($val['status']){
                            case 1:
                            $status='正常';
                            break;
                             case 2:
                            $status='禁用';
                            break;
                             case 3:
                            $status='删除';
                            break;
                            default:
                            $status='删除';
                              break;

                        }
                        ?>
                        <tr>
                            <td><label class="i-checks m-b-none"><input type="checkbox" class="check_id" name="check_id" value="<?=$val['id'];?>"><i></i> <?=$val['id'];?></label></td>
                            <td><?=$val['name'];?></td>
                            <td><?=$val['tableName'];?></td>
                            <td><?=$status;?></td>
                            <td>
                                <a href="index.php?c=back&a=edittable&id=<?=$val['id'];?>" class="active" ui-toggle-class=""><i class="fa fa-edit text-success text-active"></i></a>
                                <a href="javascript: dele_sing(<?=$val['id'];?>);" class="active" ui-toggle-class=""></i><i class="fa fa-times text-danger text"></i></a>
                            </td>
                        </tr>

                        <?php
                        }
                           ?>

                        </tbody>
                    </table>
                    <?php if(empty($arr[0])) echo '<div>暂无内容</div>'; ?>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-5 text-center">
                            <a class="btn btn-danger delete" href="javascript:;">删除</a>

                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </section>
<?php include_once Vback."/public/footer.html";?>

<script>
    /*按类型搜索*/
    $("#serach-select").change(function () {
       //var val=($(this).find("option:selected").text().replace(/(\|-)+/g,'')).trim();
        window.location.href="index.php?c=back&a=article&kfiled=type&keyword="+$(this).val();
    });
    /*关键字搜索  根据标题和文件名*/
    $(".search-txt").click(function () {
        var k=$(".search-txt").val();
        if(k!=''){
            window.location.href="index.php?c=back&a=article&keyword="+k;
        }
    });
    $(".search-txt").keyup(function(event){
        if(event.keyCode ==13){
            $(".search-txt").trigger("click");
        }
    });
    /*多选*/
    $("#check_all").click(function () {
        if($(this).is(":checked")){
            $(".check_id").prop('checked',true);
        }else {
            $(".check_id").prop('checked',false);
        }
    });
    /*批量删除*/
    $(".delete").click(function () {
        var id="(",glue='';
        $(".check_id").each(function (i,ele) {
            if($(ele).is(":checked")){
                id+=glue+$(ele).val();
                glue=",";
            }
        })
        id+=")";
        dele_sing(id);
    });

    /*删除   单个*/
    function dele_sing(id) {
        var sure=window.confirm("确认删除吗？");
        if(sure){
            $.get("index.php?c=back&a=edittable&action=delete",{'id':id,'status':3},function (rtn) {
                // var res=$.parseJSON(rtn);
                if(rtn.status){
                    alert("删除成功");
                    location.href="index.php?c=back&a=web_table";
                }else {
                    alert("删除失败");
                }
            },'json');
        }
    }
</script>
