<?php include_once Vmain."/header.html";?>
 <div class="mainContent">
    <div class="container">
            <div class="blogitem">
              <article>
                <h1 class="title"><?=$arr['name']; ?></h1>
                <div class="text">
                  <div class="info">
                  </div>
                    暂无内容
                </div>
                <div class="textfoot">
                 <a href="/">返回首页</a>
                </div>
              </article>
               </div>
            <?php include_once Vmain."/left1.html";?>
    </div>
 </div>
<?php include_once Vmain."/footer.html";?>